@font-face {
  font-family: "Open-Sans";
  src: url("../../font/Open_Sans/OpenSans-Regular.ttf") format("truetype"), 
    url("../../font/Open_Sans/OpenSans-Regular.woff2") format("woff2"),
    url("../../font/Open_Sans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
