//colors
$white: #ffffff;
$black: #000000;
$dark-grey: #333333;
$light-grey: #f0f0f0;
$red: #e74c3c;
$peach: #ddc3ac;

//fonts
$lt: "Lato";
$mm: "Mukta_Mahee";

//font-size
$f58: 5.8rem;
$f45: 4.5rem;
$f40: 4rem;
$f36: 3.6rem;
$f24: 2.4rem;
$f20: 2rem;
$f18: 1.8rem;
$f15: 1.5rem;
$f12: 1.2rem;
