.about {
  width: 100%;
  @include dis-flex;
}

.row {
  overflow: scroll;
  width: 100%;

  &__inner {
    transition: 450ms transform;
    white-space: nowrap;
    margin: 10rem 0;
  }

  &__inner:hover {
    transform: translate3d(0, 0, 0);

    &.tile {
      opacity: 0.3;
    }

    & .tile:hover {
      transform: scale(1.5);
      opacity: 1;
    }
  }
}

.tile {
  position: relative;
  display: inline-block;
  width: 24rem;
  height: 30rem;
  margin-right: 2rem;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;

  &__img {
    width: 24rem;
    height: 30rem;
    object-fit: cover;
  }

  &__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 1rem;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    color: $white;
    transition: 450ms opacity;
  }

  &__title {
    position: absolute;
    bottom: 0;
    padding: 1rem;
  }

  &:hover .tile__details {
    opacity: 1;
  }

  &:hover ~ .tile {
    transform: translate3d(12.5rem, 0, 0);
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .row__inner {
    margin: 8rem 0;
  }

  .tile {
    width: 20rem;
    height: 26rem;

    &__img {
      width: 20rem;
      height: 26rem;
    }
  }
}
