@font-face {
  font-family: "Lato";
  src: url("../../font/Lato/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mukta_Mahee";
  src: url("../../font/Mukta_Mahee/MuktaMahee-Bold.ttf") format("truetype"), 
    url("Lato-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
