.add-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-info .h2{
    margin-top: 10rem;
}

.media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video{
    margin: 10rem 5rem 10rem 0;
}
